<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Api_Automation" >
	<test name="Test">
		<parameter name="test_type" value="API"/>
    		<classes>
      			<class name="api_Method.get_Method"/>
				<class name="api_Method.post_Method"/>
    		</classes>
  	</test> <!-- Test -->
</suite> <!-- Api_Automation -->
